extends layout

block append vars
  - bodyclass = 'index';
  - var skills = ["JavaScript","PHP","HTML5","CSS","Python","Java","C#","Agile Methodologies","Scrum","Kanban","JIRA","iOS Entwicklung","Android Entwicklung","Cross Platform Development","Web Development","Scalability","Mobile Applications","Software Engineering","Software Architecture","User Experience","Distributed Systems","Deployment","Test Automation","Git","Subversion","MongoDB","MySQL","Node.js","Parse.com","Keen.io","Express.js","Cocos2d-x","jQuery","Zend Framework","WordPress","Grunt","Jasy","Apache Ant","Maven","Microsoft Windows","Linux","OS X"];
  
block header

block content
    #hcard-Sascha-Goebel.vcard
        img(src='http://www.gravatar.com/avatar/56e9f296b5185d2293c2d8ca908f5146?s=256', alt='Foto von').photo
        | &nbsp;
        a(href='http://saschagoebel.com/').url.fn &nbsp;Sascha Göbel
        | ,&nbsp;
        
        .adr
            span.street-address Federgrasweg 5
            | ,&nbsp;
            span.postal-code 55122
            span.locality Mainz
            span.country-name Deutschland
        .tel 
            i.fa.fa-phone-square
            | &nbsp;+49 179 76 08 17 2
        a(href='mailto:contact@saschagoebel.com').email
            i.fa.fa-envelope-square
            | &nbsp;contact@saschagoebel.com
    
    .profiles
        ul
            li
                a(href='http://weblog.raceofrobots.de/')
                    i.fa.fa-rss-square.fa-4x
                    |  Tech Blog
            li
                a(href='https://www.xing.com/profile/Sascha_Goebel/')
                    i.fa.fa-xing-square.fa-4x
                    |  Xing
            li
                a(href='https://de.linkedin.com/in/saschagoebel/de/')
                    i.fa.fa-linkedin-square.fa-4x
                    |  LinkedIn
            li
                a(href='https://www.facebook.com/i.write.code/')
                    i.fa.fa-facebook-square.fa-4x
                    |  Facebook
            li
                a(href='https://twitter.com/dasilentstorm/')
                    i.fa.fa-twitter-square.fa-4x
                    |  Twitter
            li
                a(href='https://plus.google.com/+SaschaGoebel/')
                    i.fa.fa-google-plus-square.fa-4x
                    |  Google+
            li
                a(href='https://github.com/saschagoebel/')
                    i.fa.fa-github-square.fa-4x
                    |  GitHub

    .skills
        h2 Kenntnisse
        ul
            each skill in skills
                li= skill
