.card
    #hcard-Sascha-Goebel.vcard.h-card
        img(src='https://www.gravatar.com/avatar/56e9f296b5185d2293c2d8ca908f5146?s=256', alt='Image of').photo.u-photo

        .body
            a(href='https://saschagoebel.com/').url.fn.p-name.u-url Sascha Göbel

            .adr
                span.street-address.p-street-address Federgrasweg 5
                br
                span.postal-code.p-postal-code 55122
                span.locality.p-locality  Mainz
                br
                span.region.p-region Rheinland-Pfalz / Rhein-Main-Gebiet
                br
                span.country-name.p-country-name Germany

            .contact
                .tel.p-tel
                    i.fa.fa-phone-square
                    |  +49 (0) 179 76 08 17 2
                a(href='mailto:contact@saschagoebel.com').email.u-email
                    i.fa.fa-envelope-square
                    |  contact@saschagoebel.com

.bio
    h2 Hi, I'm Sascha.
    p Serial entrepreneur, former Zynga Germany CTO and Kids App developer. Fought in the browser wars.
    p Helping you shape tomorrow's technology.
    p
        a(href="https://www.dielichtmatrosen.de") I own a camera.

.profiles
    h3 Find me on the interwebs

    ul
        li
            a(href='https://www.digitalvirtues.com/')
                .icon
                    include ../svg/home.svg
                | Digital Virtues GmbH
        li
            a(href='https://www.xing.com/profile/Sascha_Goebel/')
                .icon
                    include ../svg/xing-square.svg
                | Xing
        li
            a(href='https://de.linkedin.com/in/saschagoebel/de/')
                .icon
                    include ../svg/linkedin-square.svg
                | LinkedIn
        li
            a(href='https://www.facebook.com/i.write.code/')
                .icon
                    include ../svg/facebook-square.svg
                | Facebook
        li
            a(href='https://twitter.com/dasilentstorm/')
                .icon
                    include ../svg/twitter-square.svg
                | Twitter
        li
            a(href='https://plus.google.com/+SaschaGoebel/')
                .icon
                    include ../svg/google-plus-square.svg
                | Google+
        li
            a(href='https://github.com/saschagoebel/')
                .icon
                    include ../svg/github-square.svg
                | GitHub
        li
            a(href='https://www.instagram.com/dasilentstorm/')
                .icon
                    include ../svg/instagram.svg
                | Instagram
